<div class="row">
    <div class="col">
        <h5 class="text-left font-Lato-Bold">
            <button type="button" class="btn btn-primary my-2 " ng-click="AddadminModal()">Add Representative</button>
        </h5>
    </div>
    <div class="col">
        <div class="d-flex justify-content-end py-2">
            <form class="search-form mr-form">
                <input type="text" placeholder="Search Here...">
                <button type="submit">
                    <i class="fa fa-search"></i>
                </button>
            </form>
            <a class="btn btn-primary">
                <i class="fas fa-filter text-white"></i>
            </a>
        </div>
    </div>
</div>
<div class="w60 representative-tb">
<table class="table table-striped">
    <thead>
        <tr>
            <th style="text-align:center;">Sr No : </th>
            <th style="text-align:center;">Representative Name : </th>
            <th style="text-align:center;">Designation : </th>

        </tr>
    </thead>
    <tbody>
        <tr>
            <td align="center">1</td>
            <td align="center">Khusaboo</td>
            <td align="center">HR</td>
        </tr>
        <tr>
            <td align="center">2</td>
            <td align="center">Khusaboo</td>
            <td align="center">HR</td>
        </tr>
        <tr>
            <td align="center">3</td>
            <td align="center">Khusaboo</td>
            <td align="center">HR</td>
        </tr>
    </tbody>
</table>
</div>