<h5 class="text-center font-Lato-Bold">
    Admin Detail Page
    <button type="button" class="btn btn-primary my-2 float-right" ng-click="opencreateAdmin()">Create Admin</button>
</h5>
<table class="table table-striped">
    <thead>
        <tr>
            <th style="text-align:center;">Sr. No</th>
            <th style="text-align:center;">User</th>
            <th style="text-align:center;">Email </th>
            <th style="text-align:center;">Designation</th>
            <!-- <th style="text-align:center;">User ID</th> -->
            <th style="text-align:center;">Password</th>
            <th style="text-align:center;">Edit/Delete</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td align="center">1</td>
            <td align="center">XYZ</td>
            <td align="center">steve@hotmail.com</td>
            <td align="center">Senior HR</td>
            <!-- <td align="center">abc</td> -->
            <td align="center">abc123</td>
            <td align="center">
                <button type="button" class="btn btn-primary mr-2">Edit</button>
                <button type="button" class="btn btn-primary">Delete</button>
            </td>
        </tr>
        <tr>
            <td align="center">2</td>
            <td align="center">XYZ</td>
            <td align="center">steve@hotmail.com</td>
            <td align="center">Senior HR</td>
            <!-- <td align="center">abc</td> -->
            <td align="center">abc123</td>
            <td align="center">
                <button type="button" class="btn btn-primary mr-2">Edit</button>
                <button type="button" class="btn btn-primary">Delete</button>
            </td>
        </tr>
        <tr>
            <td align="center">3</td>
            <td align="center">XYZ</td>
            <td align="center">steve@hotmail.com</td>
            <td align="center">Senior HR</td>
            <!-- <td align="center">abc</td> -->
            <td align="center">abc123</td>
            <td align="center">
                <button type="button" class="btn btn-primary mr-2">Edit</button>
                <button type="button" class="btn btn-primary">Delete</button>
            </td>
        </tr>
    </tbody>
</table>