<div class="row">
    <div class="col">
        <h5 class="text-left font-Lato-Bold">
            <button type="button" class="btn btn-primary my-2 " ng-click="AddadminModal()">Add Admin</button>
        </h5>
    </div>
    <div class="col">
        <div class="d-flex justify-content-end py-2">
            <form class="search-form mr-form">
                <input type="text" placeholder="Search Here...">
                <button type="submit">
                    <i class="fa fa-search"></i>
                </button>
            </form>
            <a class="btn btn-primary">
                <i class="fas fa-filter text-white"></i>
            </a>
        </div>
    </div>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th style="text-align:center;">HR : </th>
            <th style="text-align:center;">Reporting Manager : </th>
            <th style="text-align:center;">Mitra : </th>
            <th style="text-align:center;">Director -ops :</th>
            <th style="text-align:center;">Infra:</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td align="center">Khusaboo</td>
            <td align="center">Atul</td>
            <td align="center">Pinaki</td>
            <td align="center">Smaaash</td>
            <td align="center">Atul</td>
            <td align="center">IT Infra</td>
        </tr>
        <tr>
            <td align="center">Khusaboo</td>
            <td align="center">Atul</td>
            <td align="center">Pinaki</td>
            <td align="center">Smaaash</td>
            <td align="center">Atul</td>
            <td align="center">IT Infra</td>
        </tr>
        <tr>
            <td align="center">Khusaboo</td>
            <td align="center">Atul</td>
            <td align="center">Pinaki</td>
            <td align="center">Smaaash</td>
            <td align="center">Atul</td>
            <td align="center">IT Infra</td>
        </tr>
    </tbody>
</table>