<div class="row">
    <div class="col">
        <h5 class="text-left">
            <button type="button" class="btn btn-primary my-2 font-weight-bold ml-3" ng-click="AddadminModal()">Add Representative</button>
        </h5>
    </div>
    <div class="col">
        <div class="d-flex justify-content-end py-2 mr-3">
            <form class="search-form mr-form">
                <input type="text" placeholder="Search Here...">
                <button type="submit">
                    <i class="fa fa-search"></i>
                </button>
            </form>
            <a class="btn btn-primary">
                <i class="fas fa-filter text-white"></i>
            </a>
        </div>
    </div>
</div>
<div class=" representative-tb custom-tb-bg">
<table class="table table-striped">
    <thead>
        <tr>
            <th class="text-center">Sr No : </th>
            <th class="text-center">Representative Name : </th>
            <th class="text-center">Designation : </th>  
              <th class="text-center">Email : </th>  
            <th class="text-center">Action : </th>

        </tr>
    </thead>
    <tbody>
        <tr>
            <td align="center">1</td>
            <td align="center">Khusaboo</td>
            <td align="center">HR</td>
            <td align="center">khushboo@g.com</td>
            <td align="center"><span ng-click="DeleteModal()"><i class="fas fa-trash-alt delete-icon" ></i></span>
                <span ng-click="EditRespModal()"><i class="fas fa-pencil-alt ml-1 edit-icon"></i></span> 
             </td>
        </tr>
        <tr>
            <td align="center">2</td>
            <td align="center">Khusaboo</td>
            <td align="center">HR</td>
            <td align="center">khushboo@g.com</td>
            <td align="center"><span ng-click="DeleteModal()"><i class="fas fa-trash-alt delete-icon" ></i></span>
                <span ng-click="EditRespModal()"><i class="fas fa-pencil-alt ml-1 edit-icon"></i></span> 
             </td>
        </tr>
        <tr>
            <td align="center">3</td>
            <td align="center">Khusaboo</td>
            <td align="center">HR</td>
            <td align="center">khushboo@g.com</td>
            <td align="center"><span ng-click="DeleteModal()"><i class="fas fa-trash-alt delete-icon" ></i></span>
                <span ng-click="EditRespModal()"><i class="fas fa-pencil-alt ml-1 edit-icon"></i></span> 
             </td>
        </tr>
    </tbody>
</table>
</div>