<h5 class="text-center font-Lato-Bold">Customers Detail Page<button type="button" class="btn btn-primary float-right" ng-click="openCustModal()">Create Customers</button></h5>
<table class="table table-striped">
    <thead>
        <tr>
            <th style="text-align:center;">Sr.No</th>
            <th style="text-align:center;">Name of Customer</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td align="center">1</td>
            <td align="center">XYZ</td>
        </tr>
        <tr>
            <td align="center">2</td>
            <td align="center">XYZ</td>
        </tr>
        <tr>
            <td align="center">3</td>
            <td align="center">XYZ</td>
        </tr>
        <tr>
            <td align="center">4</td>
            <td align="center">XYZ</td>
        </tr>
    </tbody>
</table>