<div class="container">
    <div class="d-flex justify-content-end py-2">
        <form class="search-form mr-form">
            <input type="text" placeholder="Search Here...">
            <button type="submit">
                <i class="fa fa-search"></i>
            </button>
        </form>
        <a class="btn btn-primary">
            <i class="fas fa-filter text-white"></i>
        </a>
    </div>
    <div class="row">
        <div class="col-3 mb-4">
            <div class="p-3 rounded text-white categories bg-blue text-white" ui-sref="enquiries">
                <h2>100</h2>Open Roles</div>
        </div>
        <div class="col-3 mb-4">
            <div class="p-3 rounded categories bg-purple text-white" ui-sref="profile">
                <h2>99</h2>Total Active Profiles</div>
        </div>
        <!-- <div class="col-3">
            <div class="p-3 text-white rounded categories bg-grey text-white" ui-sref="sources">
                <h2>133</h2>Total Sources</div>
        </div>
        <div class="col-3">
            <div class="p-3 rounded categories bg-green text-white" ui-sref="customers">
                <h2>456</h2>Total Customers</div>
        </div> -->
    </div>
</div>