<div class="container">
    <div class="d-flex justify-content-end py-2">
        <form class="search-form mr-form">
            <input type="text" placeholder="Search Here...">
            <button type="submit">
                <i class="fa fa-search"></i>
            </button>
        </form>
        <a class="btn btn-primary">
            <i class="fas fa-filter text-white"></i>
        </a>
    </div>
    <div class="row">
        <div class="col-3 mb-4">
            <div class="p-3 rounded text-white categories bg-blue" ui-sref="enquiries">
                <h2 class="text-white">100</h2>Total Enquiries</div>
        </div>
        <div class="col-3 mb-4">
            <div class="p-3 rounded categories bg-purple" ui-sref="enquiryinside">
                <h2>99</h2>Total Profiles</div>
        </div>
        <div class="col-3">
            <div class="p-3 text-white rounded categories bg-grey" ui-sref="sources">
                <h2 class="text-white">133</h2>Total Sources</div>
        </div>
        <div class="col-3">
            <div class="p-3 rounded categories bg-green" ui-sref="customers">
                <h2>456</h2>Total Customers</div>
        </div>
    </div>
</div>