<div class="enquiry-inside">
    <div class="row">
        <div class="col-9">
            <div class="d-none">
                <div>
                    <a type="button" class="btn-primary text-black" ng-click="createprofileModal();">Create profile</a>
                </div>
                <table class="table table-striped mt-3">
                    <thead>
                        <tr>
                            <th scope="col">Sr.No</th>
                            <th scope="col">Name</th>
                            <th scope="col">Experience</th>
                            <th scope="col">Source</th>
                            <th scope="col">Joining Period</th>
                            <th scope="col">Current CTC</th>
                            <th scope="col">Expected CTC</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>
                                <a ng-click="detailsModal();">Mark</a>
                            </td>
                            <td>Otto</td>
                            <td>@mdo</td>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>
                                <a ng-click="detailsModal();">Mark</a>
                            </td>
                            <td>Otto</td>
                            <td>@mdo</td>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>
                                <a ng-click="detailsModal();">Mark</a>
                            </td>
                            <td>Otto</td>
                            <td>@mdo</td>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                        </tr>
                        <tr>
                            <th scope="row">4</th>
                            <td>
                                <a ng-click="detailsModal();">Mark</a>
                            </td>
                            <td>Otto</td>
                            <td>@mdo</td>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                        </tr>
                        <tr>
                            <th scope="row">5</th>
                            <td>
                                <a ng-click="detailsModal();">Mark</a>
                            </td>
                            <td>Otto</td>
                            <td>@mdo</td>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div>
                <a type="button" class="btn-primary my-3" ng-click="scheduleInterview();">Schedule Interview</a>
                <div class="row">
                    <div class="col-4 mb-4">
                        <h6 class="text-center">12<sup>th</sup> July , 2018</h6>
                        <div class="border-black bg-gray-shade p-1">
                            <div class="row no-gutters">
                                <div class="col-5">Name: </div>
                                <div class="col-7"> XYZ</div>
                                <div class="col-5">Mode: </div>
                                <div class="col-7"> Telephonic</div>
                                <div class="col-5">Time: </div>
                                <div class="col-7"> 6:30</div>
                                <div class="col-5">Comments:</div>
                                <div class="col-7"> Reference site about Lorem Ipsum, giving information</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 mb-4">
                        <h6 class="text-center">12<sup>th</sup> July , 2018</h6>
                        <div class="border-black p-1">
                            <div class="row no-gutters">
                                <div class="col-5">Name: </div>
                                <div class="col-7"> XYZ</div>
                                <div class="col-5">Mode: </div>
                                <div class="col-7"> Telephonic</div>
                                <div class="col-5">Time: </div>
                                <div class="col-7"> 6:30</div>
                                <div class="col-5">Comments:</div>
                                <div class="col-7"> Reference site about Lorem Ipsum, giving information</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 mb-4">
                        <h6 class="text-center">12<sup>th</sup> July , 2018</h6>
                        <div class="border-black p-1">
                            <div class="row no-gutters">
                                <div class="col-5">Name: </div>
                                <div class="col-7"> XYZ</div>
                                <div class="col-5">Mode: </div>
                                <div class="col-7"> Telephonic</div>
                                <div class="col-5">Time: </div>
                                <div class="col-7"> 6:30</div>
                                <div class="col-5">Comments:</div>
                                <div class="col-7"> Reference site about Lorem Ipsum, giving information</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 mb-4">
                        <h6 class="text-center">12<sup>th</sup> July , 2018</h6>
                        <div class="border-black p-1">
                            <div class="row no-gutters">
                                <div class="col-5">Name: </div>
                                <div class="col-7"> XYZ</div>
                                <div class="col-5">Mode: </div>
                                <div class="col-7"> Telephonic</div>
                                <div class="col-5">Time: </div>
                                <div class="col-7"> 6:30</div>
                                <div class="col-5">Comments:</div>
                                <div class="col-7"> Reference site about Lorem Ipsum, giving information</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 mb-4">
                        <h6 class="text-center">12<sup>th</sup> July , 2018</h6>
                        <div class="border-black p-1">
                            <div class="row no-gutters">
                                <div class="col-5">Name: </div>
                                <div class="col-7"> XYZ</div>
                                <div class="col-5">Mode: </div>
                                <div class="col-7"> Telephonic</div>
                                <div class="col-5">Time: </div>
                                <div class="col-7"> 6:30</div>
                                <div class="col-5">Comments:</div>
                                <div class="col-7"> Reference site about Lorem Ipsum, giving information</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 mb-4">
                        <h6 class="text-center">12<sup>th</sup> July , 2018</h6>
                        <div class="border-black p-1">
                            <div class="row no-gutters">
                                <div class="col-5">Name: </div>
                                <div class="col-7"> XYZ</div>
                                <div class="col-5">Mode: </div>
                                <div class="col-7"> Telephonic</div>
                                <div class="col-5">Time: </div>
                                <div class="col-7"> 6:30</div>
                                <div class="col-5">Comments:</div>
                                <div class="col-7"> Reference site about Lorem Ipsum, giving information</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="interview-result">
                <h6 class="text-center">Interview Results</h6>
                <table class="table table-striped mt-3">
                    <thead>
                        <tr>
                            <th scope="col">Sr.No</th>
                            <th scope="col">Rejected Profile</th>
                            <th scope="col">Comments</th>
                            <th scope="col">Screenshots</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                        </tr>
                        <tr>
                            <th scope="row">4</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                        </tr>
                        <tr>
                            <th scope="row">5</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-3 d-flex justify-content-end">
            <ul class="list-unstyled">
                <li>
                    <a type="button" class="enquiry-btn px-2 py-3 mx-1 my-2 text-center bg-pink text-white">Add Profiles</a>
                </li>
                <li>
                    <a ng-click="openSettingsModal()" type="button" class="enquiry-btn px-2 py-3 mx-1 my-2 text-center bg-blue text-white">Settings</a>
                </li>
                <li>
                    <a ng-click="interviewModal();" type="button" class="enquiry-btn px-2 py-2 mx-1 my-2 text-center bg-grey text-white">Interview Scheduling/Result</a>
                </li>
                <li>
                    <a type="button" class="enquiry-btn px-2 py-3 mx-1 my-2 text-center bg-purple text-white">Checklist</a>
                </li>
                <li>
                    <a ng-click="selectedprofileModal();" type="button" class="enquiry-btn px-2 py-3 mx-1 my-2 text-center bg-green text-white">Selected Profiles</a>
                </li>
            </ul>
        </div>
    </div>
</div>