<h5 class="text-center">Enquiry Detail Page<button type="button" class="btn btn-primary float-right" ng-click="openModal()">Create Enquiry</button></h5>
<table class="table table-striped">
    <thead>
      <tr>
        <th>Enquiry Number</th>
        <th>Date</th>
        <th>Customer Name</th>
        <th>Customer Name</th>
        <th>Customer Name</th>
        <th>Customer Name</th>
        <th>Customer Name</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>2018-19-001</td>
        <td>1/1/18</td>
        <td>TOI/UK</td>
      </tr>
      <tr>
        <td>2018-19-001</td>
        <td>1/1/18</td>
        <td>TOI/UK</td>
      </tr>
      <tr>
        <td>2018-19-001</td>
        <td>1/1/18</td>
        <td>TOI/UK</td>
      </tr>
    </tbody>
  </table>