<div class="d-flex justify-content-end py-2">
  <form class="search-form mr-form">
    <input type="text" placeholder="Search Here...">
    <button type="submit">
      <i class="fa fa-search"></i>
    </button>
  </form>
  <a class="btn btn-primary">
    <i class="fas fa-filter text-white"></i>
  </a>
</div>

<h5 class="text-center font-Lato-Bold">Enquiry Detail Page
  <button type="button" class="btn btn-primary my-2 float-right" ng-click="openModal()">Create Enquiry</button>
</h5>
<table class="table table-striped">
  <thead>
    <tr>
      <th style="text-align:center;">Enquiry Number</th>
      <th style="text-align:center;">Date</th>
      <th style="text-align:center;">Customer Name</th>
      <th style="text-align:center;">Target Date</th>
      <th style="text-align:center;">Key Skills</th>
      <th style="text-align:center;">Required Profiles</th>
      <th style="text-align:center;">Profiles Registered</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td align="center" ui-sref="enquiryinside">2018-19-001</td>
      <td align="center" ui-sref="enquiryinside">01-01-2018</td>
      <td align="center" ui-sref="enquiryinside">TOI/UK</td>
      <td align="center" ui-sref="enquiryinside">16-02-2019</td>
      <td align="center" ui-sref="enquiryinside">AngularJs</td>
      <td align="center" ui-sref="enquiryinside">450</td>
      <td align="center" ui-sref="enquiryinside">300</td>
      <td>

        <a ng-click="moreInfoModal();">
          <i class="fas fa-info-circle info-font"></i>
        </a>

      </td>
    </tr>
    <tr>
      <td align="center" ui-sref="enquiryinside">2018-19-001</td>
      <td align="center" ui-sref="enquiryinside">01-01-2018</td>
      <td align="center" ui-sref="enquiryinside">TOI/UK</td>
      <td align="center" ui-sref="enquiryinside">16-02-2019</td>
      <td align="center" ui-sref="enquiryinside">AngularJs</td>
      <td align="center" ui-sref="enquiryinside">450</td>
      <td align="center" ui-sref="enquiryinside">300</td>
      <td>
        <a ng-click="moreInfoModal();">
          <i class="fas fa-info-circle info-font"></i>
        </a>
      </td>
    </tr>
    <tr>
      <td align="center" ui-sref="enquiryinside">2018-19-001</td>
      <td align="center" ui-sref="enquiryinside">01-01-2018</td>
      <td align="center" ui-sref="enquiryinside">TOI/UK</td>
      <td align="center" ui-sref="enquiryinside">16-02-2019</td>
      <td align="center" ui-sref="enquiryinside">AngularJs</td>
      <td align="center" ui-sref="enquiryinside">450</td>
      <td align="center" ui-sref="enquiryinside">300</td>
      <td>
        <a ng-click="moreInfoModal();">
          <i class="fas fa-info-circle info-font"></i>
        </a>
      </td>
    </tr>
    <tr>
      <td align="center" ui-sref="enquiryinside">2018-19-001</td>
      <td align="center" ui-sref="enquiryinside">01-01-2018</td>
      <td align="center" ui-sref="enquiryinside">TOI/UK</td>
      <td align="center" ui-sref="enquiryinside">16-02-2019</td>
      <td align="center" ui-sref="enquiryinside">AngularJs</td>
      <td align="center" ui-sref="enquiryinside">450</td>
      <td align="center" ui-sref="enquiryinside">300</td>
      <td>
        <a ng-click="moreInfoModal();">
          <i class="fas fa-info-circle info-font"></i>
        </a>
      </td>
    </tr>
    <tr>
      <td align="center" ui-sref="enquiryinside">2018-19-001</td>
      <td align="center" ui-sref="enquiryinside">01-01-2018</td>
      <td align="center" ui-sref="enquiryinside">TOI/UK</td>
      <td align="center" ui-sref="enquiryinside">16-02-2019</td>
      <td align="center" ui-sref="enquiryinside">AngularJs</td>
      <td align="center" ui-sref="enquiryinside">450</td>
      <td align="center" ui-sref="enquiryinside">300</td>
      <td>
        <a ng-click="moreInfoModal();">
          <i class="fas fa-info-circle info-font"></i>
        </a>
      </td>
    </tr>
  </tbody>
</table>