<div class="">
    <div class="row">
        <div class="col-9">
            <div>
                <a type="button" class="btn-primary text-black" ng-click="createprofileModal();">Create profile</a>
            </div>
            <table class="table table-striped mt-3">
                <thead>
                    <tr>
                        <th scope="col">Sr.No</th>
                        <th scope="col">Name</th>
                        <th scope="col">Experience</th>
                        <th scope="col">Source</th>
                        <th scope="col">Joining Period</th>
                        <th scope="col">Current CTC</th>
                        <th scope="col">Expected CTC</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>
                            <a ng-click="detailsModal();">Mark</a>
                        </td>
                        <td>Otto</td>
                        <td>@mdo</td>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>
                            <a ng-click="detailsModal();">Mark</a>
                        </td>
                        <td>Otto</td>
                        <td>@mdo</td>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>
                            <a ng-click="detailsModal();">Mark</a>
                        </td>
                        <td>Otto</td>
                        <td>@mdo</td>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                    </tr>
                    <tr>
                        <th scope="row">4</th>
                        <td>
                            <a ng-click="detailsModal();">Mark</a>
                        </td>
                        <td>Otto</td>
                        <td>@mdo</td>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                    </tr>
                    <tr>
                        <th scope="row">5</th>
                        <td>
                            <a ng-click="detailsModal();">Mark</a>
                        </td>
                        <td>Otto</td>
                        <td>@mdo</td>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-3">
            <ul class="list-unstyled">
                <li>
                    <a type="button" class="enquiry-btn px-2 py-3 mx-1 my-2 text-center bg-pink text-white">Add Profiles</a>
                </li>
                <li>
                    <a type="button" class="enquiry-btn px-2 py-3 mx-1 my-2 text-center bg-blue text-white">Settings</a>
                </li>
                <li>
                    <a type="button" class="enquiry-btn px-2 py-2 mx-1 my-2 text-center bg-grey text-white">Interview Scheduling/Result</a>
                </li>
                <li>
                    <a type="button" class="enquiry-btn px-2 py-3 mx-1 my-2 text-center bg-purple text-white">Checklist</a>
                </li>
                <li>
                    <a type="button" class="enquiry-btn px-2 py-3 mx-1 my-2 text-center bg-green text-white">Selected Profiles</a>
                </li>
            </ul>
        </div>
    </div>
</div>