<div class="">
    <div class="row">
        <div class="col-9">

        </div>
        <div class="col-3">
            <ul class="list-unstyled">
                <li>
                    <a type="button" class="enquiry-btn px-2 py-3 m-3 text-center bg-pink text-white">Add Profiles</a>
                </li>
                <li>
                    <a type="button" class="enquiry-btn px-2 py-3 m-3 text-center bg-blue text-white">Settings</a>
                </li>
                <li>
                    <a type="button" class="enquiry-btn px-2 py-2 m-3 text-center bg-grey text-white">Interview Scheduling/Result</a>
                </li>
                <li>
                    <a type="button" class="enquiry-btn px-2 py-3 m-3 text-center bg-orange text-white">Checklist</a>
                </li>
                <li>
                    <a type="button" class="enquiry-btn px-2 py-3 m-3 text-center bg-green text-white">Selected Profiles</a>
                </li>
            </ul>
        </div>
    </div>
</div>