<div class="row">
    <div class="col">
        <h5 class="text-left font-Lato-Bold">
            <button type="button" class="btn btn-primary my-2 " ng-click="ChecklistModal()">Create Checklist</button>
        </h5>
    </div>
    <div class="col">
        <div class="d-flex justify-content-end py-2">
            <form class="search-form mr-form">
                <input type="text" placeholder="Search Here...">
                <button type="submit">
                    <i class="fa fa-search"></i>
                </button>
            </form>
            <a class="btn btn-primary">
                <i class="fas fa-filter text-white"></i>
            </a>
        </div>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th style="text-align:center;">Sr No : </th>
            <th style="text-align:center;">Activity : </th>
            <th style="text-align:center;">Representative 1: </th>
            <th style="text-align:center;">Representative 2: </th>
            <th style="text-align:center;">Completed (Y/N) : </th>
            <th style="text-align:center;">Comments :</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row" style="text-align:center;"> 1</th>
            <th scope="row">Category name 1</th>
            <td align="center">
               
            </td>
            <td align="center"> </td>
            <td align="center">  </td>
            <td align="center"> </td>
        </tr>
        <tr>
            <th scope="row"> </th>
            <td align="left">Subcategory Name 1</td>
            <td align="center">
                 <select>
                        <option>Select</option>
                        <option>Khushboo</option>
                 </select>
            </td>
            <td align="center"> <select>
                    <option>Select</option>
                    <option>Khushboo</option>
              </select></td>
            <td align="center">  <toggle-switch on-label="Yes" off-label="No" ng-model="item.toggle2" class=" switch-mini switch-success "></toggle-switch></td>
            <td align="center"><textarea rows="2" ></textarea> </td>
        </tr>
        <tr>
            <th scope="row"></th>
            <td align="left">Subcategory Name 2</td>
            <td align="center">
                 <select>
                <option>Select</option>
                <option>Khushboo</option>
          </select>
        </td>
            <td align="center"> <select>
                    <option>Select</option>
                    <option>Khushboo</option>
              </select></td>
            <td align="center"> <toggle-switch on-label="Yes" off-label="No" ng-model="item.toggle3" class=" switch-mini switch-success "></toggle-switch></td>
            <td align="center"><textarea rows="2" ></textarea> </td>
        </tr>
        <tr>
            <th scope="row"></th>
            <td align="left">Subcategory Name 3</td>
            <td align="center"> <select>
                    <option>Select</option>
                    <option>Khushboo</option>
              </select></td>
            <td align="center"> <select>
                    <option>Select</option>
                    <option>Khushboo</option>
              </select></td>
            <td align="center"> <toggle-switch on-label="Yes" off-label="No" ng-model="item.toggle12" class=" switch-mini switch-success "></toggle-switch></td>
            <td align="center"><textarea rows="2" ></textarea> </td>

        </tr>
        <tr>
            <th scope="row" style="text-align:center;"> 2</th>
            <th scope="row">Category name 2</th>
            <td align="center"> </td>
            <td align="center"></td>
            <td align="center"></td>
            <td align="center"> </td>
        </tr>
        <tr>
            <th scope="row"></th>
            <td align="left">Subcategory Name 1</td>
            <td align="center"> <select>
                    <option>Select</option>
                    <option>Khushboo</option>
              </select></td>
            <td align="center"> <select>
                    <option>Select</option>
                    <option>Khushboo</option>
              </select></td>
            <td align="center">  <toggle-switch on-label="Yes" off-label="No" ng-model="item.toggle4" class=" switch-mini switch-success "></toggle-switch></td>
            <td align="center"><textarea rows="2" ></textarea> </td>
        </tr>
        <tr>
            <th scope="row"></th>
            <td align="left">Subcategory Name 2</td>
            <td align="center"> <select>
                    <option>Select</option>
                    <option>Khushboo</option>
              </select></td>
            <td align="center"> <select>
                    <option>Select</option>
                    <option>Khushboo</option>
              </select></td>
            <td align="center">  <toggle-switch on-label="Yes" off-label="No" ng-model="item.toggle10" class=" switch-mini switch-success "></toggle-switch></td>
            <td align="center"><textarea rows="2" ></textarea> </td>
        </tr>
        <tr>
            <th scope="row"></th>
            <td align="left">Subcategory Name 3</td>
            <td align="center"> <select>
                    <option>Select</option>
                    <option>Khushboo</option>
              </select></td>
            <td align="center"> <select>
                    <option>Select</option>
                    <option>Khushboo</option>
              </select></td>
            <td align="center"> <toggle-switch on-label="Yes" off-label="No" ng-model="item.toggle5" class=" switch-mini switch-success "></toggle-switch></td>
            <td align="center"><textarea rows="2" ></textarea> </td>

        </tr>
        <tr>
            <th scope="row" style="text-align:center;"> 3</th>
            <th scope="row">Category name 3</th>
            <td align="center"></td>
            <td align="center"></td>
            <td align="center"> </td>
            <td align="center"></td>
        </tr>
        <tr>
            <th scope="row"></th>
            <td align="left">Subcategory Name 1</td>
            <td align="center"> <select>
                    <option>Select</option>
                    <option>Khushboo</option>
              </select></td>
            <td align="center"> <select>
                    <option>Select</option>
                    <option>Khushboo</option>
              </select></td>
            <td align="center">  <toggle-switch on-label="Yes" off-label="No" ng-model="item.toggle6" class=" switch-mini switch-success "></toggle-switch></td>
            <td align="center"><textarea rows="2" ></textarea> </td>
        </tr>
        <tr>
            <th scope="row"></th>
            <td align="left">Subcategory Name 2</td>
            <td align="center"> <select>
                    <option>Select</option>
                    <option>Khushboo</option>
              </select></td>
            <td align="center"> <select>
                    <option>Select</option>
                    <option>Khushboo</option>
              </select></td>
            <td align="center"> <toggle-switch on-label="Yes" off-label="No" ng-model="item.toggle7" class=" switch-mini switch-success "></toggle-switch></td>
            <td align="center"><textarea rows="2" ></textarea> </td>
        </tr>
        <tr>
            <th scope="row"></th>
            <td align="left">Subcategory Name 2</td>
            <td align="center"> <select>
                    <option>Select</option>
                    <option>Khushboo</option>
              </select></td>
            <td align="center"> <select>
                    <option>Select</option>
                    <option>Khushboo</option>
              </select></td>
            <td align="center"> <toggle-switch on-label="Yes" off-label="No" ng-model="item.toggle8" class=" switch-mini switch-success "></toggle-switch></td>
            <td align="center"><textarea rows="2" ></textarea> </td>

        </tr>
    </tbody>
</table>