<div class="row">
    <div class="col">
        <h5 class="text-left ml-3">
            <button type="button" class="btn btn-primary my-2 font-weight-bold" ng-click="ChecklistModal()">Add Checklist</button>
        </h5>
    </div>
    <div class="col">
        <div class="d-flex justify-content-end py-2 mr-3">
            <form class="search-form mr-form">
                <input type="text" placeholder="Search Here...">
                <button type="submit">
                    <i class="fa fa-search"></i>
                </button>
            </form>
            <a class="btn btn-primary">
                <i class="fas fa-filter text-white"></i>
            </a>
        </div>
    </div>
</div>
<div class="representative-tb custom-tb-bg">
    <table class="table">
        <thead>
            <tr>
                <th >Sr No : </th>
                <th>Category : </th>
                <th>Subcategory : </th>
                <th>Action : </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td> 1</td>
                <td>Pre-Joining</td>
                <td><p>Agree date of joining</p>
                    <p>Agree date of joining</p></td>
                <td><span ng-click="DeleteModal()"><i class="fas fa-trash-alt delete-icon" ></i></span>
                   <span ng-click="EditModal()"><i class="fas fa-pencil-alt ml-1 edit-icon"></i></span> 
                </td>
            </tr>
          <tr>
                <td> 2</td>
                <td> Form to be completed-send to joinee</td>
                <td><p>Agree date of joining</p>
                    <p>Agree date of joining</p></td>
                    <td><span ng-click="DeleteModal()"><i class="fas fa-trash-alt delete-icon"  ng-click="DeleteModal()"></i></span>
                        <span ng-click="EditModal()"><i class="fas fa-pencil-alt ml-1 edit-icon"></i></span>
                    </td>
            </tr>
            <tr>
                <td> 2</td>
                <td> Form to be completed-send to joinee</td>
                <td><p>Agree date of joining</p>
                    <p>Agree date of joining</p></td>
                    <td><span ng-click="DeleteModal()"><i class="fas fa-trash-alt delete-icon"  ng-click="DeleteModal()"></i></span>
                        <span><i class="fas fa-pencil-alt ml-1 edit-icon"></i></span>
                    </td>
            </tr>
        </tbody>
    </table>
</div>