<div class="row">
    <div class="col">
        <h5 class="text-left ">
            <button type="button" class="btn btn-primary my-2 " ng-click="ChecklistModal()">Create Checklist</button>
        </h5>
    </div>
    <div class="col">
        <div class="d-flex justify-content-end py-2">
            <form class="search-form mr-form">
                <input type="text" placeholder="Search Here...">
                <button type="submit">
                    <i class="fa fa-search"></i>
                </button>
            </form>
            <a class="btn btn-primary">
                <i class="fas fa-filter text-white"></i>
            </a>
        </div>
    </div>
</div>
<div class="w60 representative-tb">
<table class="table chk-list-tb">
    <thead>
        <tr>
            <th style="text-align:center;">Sr No : </th>
            <th colspan="2" class="text-center">Activity : </th>
          </tr>
    </thead>
    <tbody>
        <tr ng-repeat="cat in MainCategory">
            <th  style="text-align:center;"> 1</th>
            <th  rowspan="3" class=" text-center">{{cat.Category}}</th>
            <td><p ng-repeat="sub in cat.Subcategory">{{sub.name}}</p></td>
        </tr>

      
        <!-- <tr>
                <th scope="row" style="text-align:center;"> 1</th>
                <th  rowspan="4" class=" text-center">Category name 1</th>
                <td >Subcategory Name 1</td>
          </tr>
            <tr>
                <th scope="row"> </th>
                <td >Subcategory Name 1</td>
           </tr>
            <tr>
                <th scope="row"></th>
                <td align="left">Subcategory Name 2</td>
              
            </tr>
            <tr>
                <th scope="row"></th>
                <td align="left">Subcategory Name 3</td>
             
    
            </tr> -->
      
       
    </tbody>
</table>
</div>