<div class="container">
    <div class="row">
        <div class="col-3 mb-4">
            <div class="p-3 rounded text-white categories bg-blue"><h2 class="text-white">100</h2>Total Enquiries</div>
        </div>
        <div class="col-3 mb-4">
                <div class="p-3 rounded categories bg-purple"><h2>99</h2>Total Profiles</div>        
        </div>
        <div class="col-3">
                <div class="p-3 text-white rounded categories bg-grey"><h2 class="text-white">133</h2>Total Profiles</div>
        </div>
        <div class="col-3">
                <div class="p-3 rounded categories bg-green"><h2>456</h2>Total Customers</div>        
        </div>
    </div>
</div>