<div class="container">
    <div class="row">
        <div class="col-6 mb-4">
            <div class="bg-primary p-3 rounded categories"><h2>100</h2>Total Enquiries</div>
        </div>
        <div class="col-6 mb-4">
                <div class="bg-success p-3 rounded categories"><h2>99</h2>Total Profiles</div>        
        </div>
        <div class="col-6">
                <div class="bg-danger p-3 rounded categories"><h2>133</h2>Total Profiles</div>
        </div>
        <div class="col-6">
                <div class="bg-warning p-3 rounded categories"><h2>456</h2>Total Customers</div>        
        </div>
    </div>
</div>