<div class="interview-schedule enquiry-inside">
    <a type="button" class="btn-primary my-3" ng-click="openpersonalInteview();">Schedule Interview</a>
    <div class="row">
        <div class="col-4 mb-4">
            <h6 class="text-center">12
                <sup>th</sup> July , 2018</h6>
            <div class="border-black bg-gray-shade p-1">
                <div class="text-right">
                    <i class="fas fa-pen"></i>
                </div>
                <div class="row no-gutters">
                    <div class="col-5">Name: </div>
                    <div class="col-7"> XYZ</div>
                    <div class="col-5">Mode: </div>
                    <div class="col-7"> Telephonic</div>
                    <div class="col-5">Time: </div>
                    <div class="col-7">6.30</div>
                    <div class="col-5">Round: </div>
                    <div class="col-7">1</div>
                    <div class="col-5">Name Of Interviewer: </div>
                    <div class="col-7">karan</div>
                    <div class="col-5">Feedback: </div>
                    <div class="col-7">Reference site about Lorem Ipsum, giving information</div>
                </div>
                <div class="text-center p-2">
                    <button type="button" class="btn btn-primary" ng-click="Postponemodal();">Postpone</button>
                </div>
            </div>
        </div>
        <div class="col-4 mb-4">
            <h6 class="text-center">12
                <sup>th</sup> July , 2018</h6>
            <div class="border-black bg-gray-shade p-1">
                <div class="text-right">
                    <i class="fas fa-pen"></i>
                </div>
                <div class="row no-gutters">
                    <div class="col-5">Name: </div>
                    <div class="col-7"> XYZ</div>
                    <div class="col-5">Mode: </div>
                    <div class="col-7"> Telephonic</div>
                    <div class="col-5">Time: </div>
                    <div class="col-7">6.30</div>
                    <div class="col-5">Round: </div>
                    <div class="col-7">1</div>
                    <div class="col-5">Name Of Interviewer: </div>
                    <div class="col-7">karan</div>
                    <div class="col-5">Feedback: </div>
                    <div class="col-7">Reference site about Lorem Ipsum, giving information</div>
                </div>
                <div class="text-center p-2">
                    <button type="button" class="btn btn-primary" ng-click="Postponemodal();">Postpone</button>
                </div>
            </div>
        </div>
        <div class="col-4 mb-4">
            <h6 class="text-center">12
                <sup>th</sup> July , 2018</h6>
            <div class="border-black bg-gray-shade p-1">
                <div class="text-right">
                    <i class="fas fa-pen"></i>
                </div>
                <div class="row no-gutters">
                    <div class="col-5">Name: </div>
                    <div class="col-7"> XYZ</div>
                    <div class="col-5">Mode: </div>
                    <div class="col-7"> Telephonic</div>
                    <div class="col-5">Time: </div>
                    <div class="col-7">6.30</div>
                    <div class="col-5">Round: </div>
                    <div class="col-7">1</div>
                    <div class="col-5">Name Of Interviewer: </div>
                    <div class="col-7">karan</div>
                    <div class="col-5">Feedback: </div>
                    <div class="col-7">Reference site about Lorem Ipsum, giving information</div>
                </div>
                <div class="text-center p-2">
                    <button type="button" class="btn btn-primary" ng-click="Postponemodal();">Postpone</button>
                </div>
            </div>
        </div>
        <div class="col-4 mb-4">
            <h6 class="text-center">12
                <sup>th</sup> July , 2018</h6>
            <div class="border-black bg-gray-shade p-1">
                <div class="text-right">
                    <i class="fas fa-pen"></i>
                </div>
                <div class="row no-gutters">
                    <div class="col-5">Name: </div>
                    <div class="col-7"> XYZ</div>
                    <div class="col-5">Mode: </div>
                    <div class="col-7"> Telephonic</div>
                    <div class="col-5">Time: </div>
                    <div class="col-7">6.30</div>
                    <div class="col-5">Round: </div>
                    <div class="col-7">1</div>
                    <div class="col-5">Name Of Interviewer: </div>
                    <div class="col-7">karan</div>
                    <div class="col-5">Feedback: </div>
                    <div class="col-7">Reference site about Lorem Ipsum, giving information</div>
                </div>
                <div class="text-center p-2">
                    <button type="button" class="btn btn-primary" ng-click="Postponemodal();">Postpone</button>
                </div>
            </div>
        </div>
        <div class="col-4 mb-4">
            <h6 class="text-center">12
                <sup>th</sup> July , 2018</h6>
            <div class="border-black bg-gray-shade p-1">
                <div class="text-right">
                    <i class="fas fa-pen"></i>
                </div>
                <div class="row no-gutters">
                    <div class="col-5">Name: </div>
                    <div class="col-7"> XYZ</div>
                    <div class="col-5">Mode: </div>
                    <div class="col-7"> Telephonic</div>
                    <div class="col-5">Time: </div>
                    <div class="col-7">6.30</div>
                    <div class="col-5">Round: </div>
                    <div class="col-7">1</div>
                    <div class="col-5">Name Of Interviewer: </div>
                    <div class="col-7">karan</div>
                    <div class="col-5">Feedback: </div>
                    <div class="col-7">Reference site about Lorem Ipsum, giving information</div>
                </div>
                <div class="text-center p-2">
                    <button type="button" class="btn btn-primary" ng-click="Postponemodal();">Postpone</button>
                </div>
            </div>
        </div>
        <div class="col-4 mb-4">
            <h6 class="text-center">12
                <sup>th</sup> July , 2018</h6>
            <div class="border-black bg-gray-shade p-1">
                <div class="text-right">
                    <i class="fas fa-pen"></i>
                </div>
                <div class="row no-gutters">
                    <div class="col-5">Name: </div>
                    <div class="col-7"> XYZ</div>
                    <div class="col-5">Mode: </div>
                    <div class="col-7"> Telephonic</div>
                    <div class="col-5">Time: </div>
                    <div class="col-7">6.30</div>
                    <div class="col-5">Round: </div>
                    <div class="col-7">1</div>
                    <div class="col-5">Name Of Interviewer: </div>
                    <div class="col-7">karan</div>
                    <div class="col-5">Feedback: </div>
                    <div class="col-7">Reference site about Lorem Ipsum, giving information</div>
                </div>
                <div class="text-center p-2">
                    <button type="button" class="btn btn-primary" ng-click="Postponemodal();">Postpone</button>
                </div>
            </div>
        </div>
    </div>
</div>