<div class="interview-schedule enquiry-inside">
    <a type="button" class="btn-primary my-3 text-white" ng-click="openpersonalInteview();">Schedule Interview</a>
    <div class="row">
        <div class="col-4 mb-4">
            <h6 class="text-center">12
                <sup>th</sup> July , 2018</h6>
            <div class="border-black bg-gray-shade p-1">
                <div class="text-right">
                    <a ng-click="scheduleEditmodal();">
                        <i class="fas fa-pen"></i>
                    </a>
                </div>
                <div class="row no-gutters">
                    <div class="col-5">Name: </div>
                    <div class="col-7">Manali</div>
                    <div class="col-5">Time: </div>
                    <div class="col-7">6.30</div>
                    <div class="col-5">Round: </div>
                    <div class="col-7">1</div>
                    <div class="col-5">Interviewer: </div>
                    <div class="col-7">Karan</div>
                    <div class="col-5">Type: </div>
                    <div class="col-7">Online</div>
                    <div class="col-5">Mode: </div>
                    <div class="col-7">Skype</div>
                </div>
                <div class="p-2 text-center">
                    <button type="button" class="btn btn-primary mr-3" ng-click="Postponemodal();">Postpone</button>
                    <button type="button" class="btn btn-primary" ng-click="openInteviewdone();">Interview Done</button>
                </div>
            </div>
        </div>
        <div class="col-4 mb-4">
            <h6 class="text-center">12
                <sup>th</sup> July , 2018</h6>
            <div class="border-black bg-gray-shade p-1">
                <div class="text-right">
                    <a ng-click="scheduleEditmodal();">
                        <i class="fas fa-pen"></i>
                    </a>
                </div>
                <div class="row no-gutters">
                    <div class="col-5">Name: </div>
                    <div class="col-7">Manali</div>
                    <div class="col-5">Time: </div>
                    <div class="col-7">6.30</div>
                    <div class="col-5">Round: </div>
                    <div class="col-7">1</div>
                    <div class="col-5">Interviewer: </div>
                    <div class="col-7">Karan</div>
                    <div class="col-5">Type: </div>
                    <div class="col-7">Online</div>
                    <div class="col-5">Mode: </div>
                    <div class="col-7">Skype</div>
                </div>
                <div class="p-2 text-center">
                    <button type="button" class="btn btn-primary mr-3" ng-click="Postponemodal();">Postpone</button>
                    <button type="button" class="btn btn-primary" ng-click="openInteviewdone();">Interview Done</button>
                </div>
            </div>
        </div>
        <div class="col-4 mb-4">
            <h6 class="text-center">12
                <sup>th</sup> July , 2018</h6>
            <div class="border-black bg-gray-shade p-1">
                <div class="text-right">
                    <a ng-click="scheduleEditmodal();">
                        <i class="fas fa-pen"></i>
                    </a>
                </div>
                <div class="row no-gutters">
                    <div class="col-5">Name: </div>
                    <div class="col-7">Manali</div>
                    <div class="col-5">Time: </div>
                    <div class="col-7">6.30</div>
                    <div class="col-5">Round: </div>
                    <div class="col-7">1</div>
                    <div class="col-5">Interviewer: </div>
                    <div class="col-7">Karan</div>
                    <div class="col-5">Type: </div>
                    <div class="col-7">Online</div>
                    <div class="col-5">Mode: </div>
                    <div class="col-7">Skype</div>
                </div>
                <div class="p-2 text-center">
                    <button type="button" class="btn btn-primary mr-3" ng-click="Postponemodal();">Postpone</button>
                    <button type="button" class="btn btn-primary" ng-click="openInteviewdone();">Interview Done</button>
                </div>
            </div>
        </div>
        <div class="col-4 mb-4">
            <h6 class="text-center">12
                <sup>th</sup> July , 2018</h6>
            <div class="border-black bg-gray-shade p-1">
                <div class="text-right">
                    <a ng-click="scheduleEditmodal();">
                        <i class="fas fa-pen"></i>
                    </a>
                </div>
                <div class="row no-gutters">
                    <div class="col-5">Name: </div>
                    <div class="col-7">Manali</div>
                    <div class="col-5">Time: </div>
                    <div class="col-7">6.30</div>
                    <div class="col-5">Round: </div>
                    <div class="col-7">1</div>
                    <div class="col-5">Interviewer: </div>
                    <div class="col-7">Karan</div>
                    <div class="col-5">Type: </div>
                    <div class="col-7">Online</div>
                    <div class="col-5">Mode: </div>
                    <div class="col-7">Skype</div>
                </div>
                <div class="p-2 text-center">
                    <button type="button" class="btn btn-primary mr-3" ng-click="Postponemodal();">Postpone</button>
                    <button type="button" class="btn btn-primary" ng-click="openInteviewdone();">Interview Done</button>
                </div>
            </div>
        </div>
        <div class="col-4 mb-4">
            <h6 class="text-center">12
                <sup>th</sup> July , 2018</h6>
            <div class="border-black bg-gray-shade p-1">
                <div class="text-right">
                    <a ng-click="scheduleEditmodal();">
                        <i class="fas fa-pen"></i>
                    </a>
                </div>
                <div class="row no-gutters">
                    <div class="col-5">Name: </div>
                    <div class="col-7">Manali</div>
                    <div class="col-5">Time: </div>
                    <div class="col-7">6.30</div>
                    <div class="col-5">Round: </div>
                    <div class="col-7">1</div>
                    <div class="col-5">Interviewer: </div>
                    <div class="col-7">Karan</div>
                    <div class="col-5">Type: </div>
                    <div class="col-7">Online</div>
                    <div class="col-5">Mode: </div>
                    <div class="col-7">Skype</div>
                </div>
                <div class="p-2 text-center">
                    <button type="button" class="btn btn-primary mr-3" ng-click="Postponemodal();">Postpone</button>
                    <button type="button" class="btn btn-primary" ng-click="openInteviewdone();">Interview Done</button>
                </div>
            </div>
        </div>
        <div class="col-4 mb-4">
            <h6 class="text-center">12
                <sup>th</sup> July , 2018</h6>
            <div class="border-black bg-gray-shade p-1">
                <div class="text-right">
                    <a ng-click="scheduleEditmodal();">
                        <i class="fas fa-pen"></i>
                    </a>
                </div>
                <div class="row no-gutters">
                    <div class="col-5">Name: </div>
                    <div class="col-7">Manali</div>
                    <div class="col-5">Time: </div>
                    <div class="col-7">6.30</div>
                    <div class="col-5">Round: </div>
                    <div class="col-7">1</div>
                    <div class="col-5">Interviewer: </div>
                    <div class="col-7">Karan</div>
                    <div class="col-5">Type: </div>
                    <div class="col-7">Online</div>
                    <div class="col-5">Mode: </div>
                    <div class="col-7">Skype</div>
                </div>
                <div class="p-2 text-center">
                    <button type="button" class="btn btn-primary mr-3" ng-click="Postponemodal();">Postpone</button>
                    <button type="button" class="btn btn-primary" ng-click="openInteviewdone();">Interview Done</button>
                </div>
            </div>
        </div>
    </div>
</div>