<div class="d-flex justify-content-end py-2">
        <form class="search-form mr-form">
            <input type="text" placeholder="Search Here...">
            <button type="submit">
                <i class="fa fa-search"></i>
            </button>
        </form>
        <a class="btn btn-primary">
            <i class="fas fa-filter text-white"></i>
        </a>
    </div>
    <h5 class="text-center font-Lato-Bold">Interview Type
        <button type="button" class="btn btn-primary my-2 float-right" ng-click="openInterType()">Create Type of Interview</button>
    </h5>
    <table class="table table-striped">
        <thead>
            <tr>
                <th style="text-align:center;">Sr. No</th>
                <th style="text-align:center;">Type of Interview</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td align="center">1</td>
                <td align="center">Online Interview</td>
            </tr>
            <tr>
                <td align="center">2</td>
                <td align="center">Face to Face Interview</td>
            </tr>
            <tr>
                <td align="center">3</td>
                <td align="center">Telephonic Interview</td>
            </tr>
        </tbody>
    </table>