<div class="container-fluid">
    <div class="relative joining-chklist">
        <div class="bg-blue">
            <!-- <div class="last-updated">
                <span>Last updated:</span>08 june 2018
            </div> -->

            <!-- <div class="row">
                <div class="col-sm-6">
                
                    <div class="empoyee-details bor-right">
                        <h6>Soumasree Kar
                            <span>(Senior consultant-scrum master)</span>
                        </h6>
                        <p>Reporting Manager:
                            <input type="text">
                        </p>
                        <p>Name of Client:
                            <input type="text">
                        </p>
                        <p>Project:
                            <input type="text">
                        </p>
                        <p>HR Owner:
                            <input type="text">
                        </p>
                        <p>Director Ops:
                            <input type="text">
                        </p>

                    </div>
                      </div>
                <div class="col-sm-6">
                    <div class="empoyee-details mar-tr">
                        <p>Offer Letter:
                            <span>01 August 2018</span>
                        </p>
                        <p>Joining Date:
                            <span>01 August 2018</span>
                        </p>
                        <p>HR:
                            <span>Khushboo</span>
                        </p>
                        <p>Mitra:
                            <span>Pinaki</span>
                        </p>
                        <p>Infr:
                            <span>IT Infra</span>
                        </p>
                    </div>
                </div>
            </div> -->

            <div class="emp-data">
                    <h5>Profile Details</h5>
                <form>
                    <div class="d-flex my-4 py-3">
                        <div class="mar-r">
                            <div class="row">
                                <div class="form-group form-group-sm col-sm-12">
                                    <div class="row">
                                        <label for="first_name" class="col-sm-5 col-form-label">First Name</label>
                                        <div class="col-sm-7">
                                            <input type="text" class="form-control" id="first_name" name="first_name">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group form-group-sm col-sm-12">
                                    <div class="row">
                                        <label for="first_name" class="col-sm-5 col-form-label">Reporting Manager:</label>
                                        <div class="col-sm-7">
                                            <input type="text" class="form-control" id="first_name" name="first_name">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group form-group-sm col-sm-12">
                                    <div class="row">
                                        <label for="first_name" class="col-sm-5 col-form-label">Name of Client::</label>
                                        <div class="col-sm-7">
                                            <input type="text" class="form-control" id="first_name" name="first_name">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group form-group-sm col-sm-12">
                                    <div class="row">
                                        <label for="first_name" class="col-sm-5 col-form-label">Reporting Manager:</label>
                                        <div class="col-sm-7">
                                            <input type="text" class="form-control" id="first_name" name="first_name">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group form-group-sm col-sm-12">
                                    <div class="row">
                                        <label for="first_name" class="col-sm-5 col-form-label">Project:</label>
                                        <div class="col-sm-7">
                                            <input type="text" class="form-control" id="first_name" name="first_name">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group form-group-sm col-sm-12">
                                    <div class="row">
                                        <label for="first_name" class="col-sm-5 col-form-label">HR Owner:</label>
                                        <div class="col-sm-7">
                                            <input type="text" class="form-control" id="first_name" name="first_name">
                                        </div>
                                    </div>
                                </div>
                            </div>
                           
                        </div>
                        <div class="">
                                <div class="row">
                                        <div class="form-group form-group-sm col-sm-12">
                                            <div class="row">
                                                <label for="first_name" class="col-sm-5 col-form-label">Director Ops:</label>
                                                <div class="col-sm-7">
                                                    <input type="text" class="form-control" id="first_name" name="first_name">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                <div class="row">
                                        <div class="form-group form-group-sm col-sm-12">
                                            <div class="row">
                                                <label for="first_name" class="col-sm-5 col-form-label">Offer Letter:</label>
                                                <div class="col-sm-7">
                                                    <input type="date" class="form-control" id="first_name" name="first_name">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                            <div class="form-group form-group-sm col-sm-12">
                                                <div class="row">
                                                    <label for="first_name" class="col-sm-5 col-form-label">Joining Date:</label>
                                                    <div class="col-sm-7">
                                                        <input type="date" class="form-control" id="first_name" name="first_name">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                                <div class="form-group form-group-sm col-sm-12">
                                                    <div class="row">
                                                        <label for="first_name" class="col-sm-5 col-form-label">HR:</label>
                                                        <div class="col-sm-7">
                                                            <select  class="form-control">
                                                                <option>HR</option>
                                                                <option></option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                    <div class="form-group form-group-sm col-sm-12">
                                                        <div class="row">
                                                            <label for="first_name" class="col-sm-5 col-form-label">Mitra:</label>
                                                            <div class="col-sm-7">
                                                                <select  class="form-control">
                                                                    <option>HR</option>
                                                                    <option></option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                        <div class="form-group form-group-sm col-sm-12">
                                                            <div class="row">
                                                                <label for="first_name" class="col-sm-5 col-form-label">Infr:</label>
                                                                <div class="col-sm-7">
                                                                    <select  class="form-control">
                                                                        <option>IT Infr:</option>
                                                                        <option></option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                        </div>
                    </div>
                </form>
            </div>

        </div>
        <div class="position-absolute checklist-details mb-3 ">
            <div class="text-center">
                <h5>Checklist</h5>
            </div>
            <div class="section-heading">
                Pre-Joining
            </div>
            <div class="bg-gray my-1 bor-top">
                <div class="sub-heading pt-2 pb-1 pl-4  mb-1">
                    Agree date of joining
                    <div class="float-right mr-4 mt-1 custom-date">
                        <span class="resp-1">Date:</span>
                        02 August 2018
                    </div>
                </div>
                <div class="d-flex">
                    <div class="ml-3">
                        <div class="form-group mb-0">
                            <input type="checkbox" id="chk1" ng-click="DeleteJModal()">
                            <label for="chk1"></label>
                        </div>
                    </div>
                    <div class=" pr-2 pt-1  resp-1">
                        <span>Representative 1:</span>
                    </div>
                    <div class="form-group resp-select mb-2">
                        <select class="form-control" id="sel1" name="sellist1">
                            <option>Khushboo</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                        </select>
                    </div>
                    <div class="pl-4 pr-2 pt-1 resp-1">
                        <span>Representative 2:</span>
                    </div>
                    <div class="form-group  resp-select mb-2">
                        <select class="form-control" id="sel1" name="sellist1">
                            <option>Atul</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                        </select>
                    </div>
                </div>

                <div class="pl-4 mx-4">
                    <div class="form-group mb-2">
                        <textarea class="form-control comment-area" rows="1" id="comment" placeholder="comments:"></textarea>
                    </div>
                </div>
            </div>
            <div class="bg-gray my-1 ">
                <div class="sub-heading pt-2 pb-1 pl-4  mb-1">Agree date of joining
                    <div class="float-right mr-4 mt-1 custom-date">
                        <span class="resp-1">Date:</span>
                        02 August 2018
                    </div>
                </div>
                <div class="d-flex">
                    <div class="ml-3">
                        <div class="form-group mb-0">
                            <input type="checkbox" id="chk2" ng-click="DeleteJModal()">
                            <label for="chk2"></label>
                        </div>
                    </div>
                    <div class=" pr-2 pt-1  resp-1">
                        <span>Representative 1:</span>
                    </div>
                    <div class="form-group resp-select mb-2">
                        <select class="form-control" id="sel1" name="sellist1">
                            <option>Khushboo</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                        </select>
                    </div>
                    <div class="pl-4 pr-2 pt-1 resp-1">
                        <span>Representative 2:</span>
                    </div>
                    <div class="form-group  resp-select mb-2">
                        <select class="form-control" id="sel1" name="sellist1">
                            <option>Atul</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                        </select>
                    </div>
                </div>

                <div class="pl-4 mx-4">
                    <div class="form-group mb-2">
                        <textarea class="form-control comment-area" rows="1" id="comment" placeholder="comments:"></textarea>
                    </div>
                </div>
            </div>
            <div class="section-heading mt-2">
                Form to be completed-send to joinee
            </div>
            <div class="bg-gray my-1 bor-top">
                <div class="sub-heading pt-2  pb-1 pl-4  mb-1">Agree date of joining
                    <div class="float-right mr-4 mt-1 custom-date">
                        <span class="resp-1">Date:</span>
                        02 August 2018
                    </div>

                </div>
                <div class="d-flex">
                    <div class="ml-3">
                        <div class="form-group mb-0">
                            <input type="checkbox" id="chk3" ng-click="DeleteJModal()">
                            <label for="chk3"></label>
                        </div>
                    </div>
                    <div class=" pr-2 pt-1  resp-1">
                        <span>Representative 1:</span>
                    </div>
                    <div class="form-group resp-select mb-2">
                        <select class="form-control" id="sel1" name="sellist1">
                            <option>Khushboo</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                        </select>
                    </div>
                    <div class="pl-4 pr-2 pt-1 resp-1">
                        <span>Representative 2:</span>
                    </div>
                    <div class="form-group  resp-select mb-2">
                        <select class="form-control" id="sel1" name="sellist1">
                            <option>Atul</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                        </select>
                    </div>
                </div>
                <div class="pl-4 mx-4">
                    <div class="form-group mb-2">
                        <textarea class="form-control comment-area" rows="1" id="comment" placeholder="comments:"></textarea>
                    </div>
                </div>
            </div>
            <div class="bg-gray my-1">
                <div class="sub-heading pt-2 pb-1 pl-4 mb-1">Agree date of joining
                    <div class="float-right mr-4 mt-1 custom-date">
                        <span class="resp-1">Date:</span>
                        02 August 2018
                    </div>
                </div>
                <div class="d-flex">
                    <div class="ml-3">
                        <div class="form-group mb-0">
                            <input type="checkbox" id="chk4" ng-click="DeleteJModal()">
                            <label for="chk4"></label>
                        </div>
                    </div>
                    <div class="pr-2 pt-1  resp-1">
                        <span>Representative 1:</span>
                    </div>
                    <div class="form-group resp-select mb-2">
                        <select class="form-control" id="sel1" name="sellist1">
                            <option>Khushboo</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                        </select>
                    </div>
                    <div class="pl-4 pr-2 pt-1 resp-1">
                        <span>Representative 2:</span>
                    </div>
                    <div class="form-group  resp-select mb-2">
                        <select class="form-control" id="sel1" name="sellist1">
                            <option>Atul</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                        </select>
                    </div>
                </div>
                <div class="pl-4 mx-4">
                    <div class="form-group mb-2">
                        <textarea class="form-control comment-area" rows="1" id="comment" placeholder="comments:"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>