<div class="container-fluid">
    <div class="relative">
        <div class="bg-blue px-4 py-4">
            <div class="row">
                <div class="col-sm-6">
                    <div class="empoyee-details">
                        <h6>Soumasree Kar
                            <span>(Senior consultant-scrum master)</span>
                        </h6>
                        <p>Reporting Manager:
                            <span>Atul</span>
                        </p>
                        <p>Name of Client:
                            <span>Atul</span>
                        </p>
                        <p>Project:
                            <span>TUI</span>
                        </p>
                        <p>HR Owner:
                            <span>TUI</span>
                        </p>
                        <p>Director Ops:
                            <span>TUI</span>
                        </p>

                    </div>
                </div>
                <div class="col-sm-6">
                           <div  class="empoyee-details">
                    <p>Offer Letter:
                        <span>01 August 2018</span>
                    </p>
                    <p>Joining Date:
                        <span>01 August 2018</span>
                    </p>
                    <p>HR:
                        <span>Khushboo</span>
                    </p>
                    <p>Mitra:
                        <span>Pinaki</span>
                    </p>
                    <p>Infr:
                        <span>IT Infra</span>
                    </p>
                </div>
                </div>
            </div>
        </div>
        <div class="position-absolute checklist-details">
            <div class="text-center">
                <h5>Checklist</h5>
            </div>
            <div>
                Pre-Joining
            </div>
            <div class="d-flex">
                <div>
                    <input type="checkbox">
                </div>
                <div>
                    <span>Representative 1:</span>
                </div>
                <div class="form-group">
                    <select class="form-control" id="sel1" name="sellist1">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                    </select>
                </div>
                <div>
                    <span>Representative 2:</span>
                </div>
                <div class="form-group">
                    <select class="form-control" id="sel1" name="sellist1">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                    </select>
                </div>
            </div>
            <div>
                <div class="form-group">
                    <label for="comment">Comment:</label>
                    <textarea class="form-control" rows="5" id="comment"></textarea>
                </div>
            </div>
            <div>

            </div>

        </div>
    </div>

</div>