<div class="d-flex justify-content-end py-2">
    <form class="search-form mr-form">
        <input type="text" placeholder="Search Here...">
        <button type="submit">
            <i class="fa fa-search"></i>
        </button>
    </form>
    <a class="btn btn-primary">
        <i class="fas fa-filter text-white"></i>
    </a>
</div>
<table class="table table-striped mt-3" ng-hide="showView=='profile'">
    <thead>
        <tr>
            <th scope="col" style="text-align:center;">Sr. No</th>
            <th scope="col" style="text-align:center;">Name</th>
            <th scope="col" style="text-align:center;">Experience</th>
            <th scope="col" style="text-align:center;">Source</th>
            <th scope="col" style="text-align:center;">Joining Period</th>
            <th scope="col" style="text-align:center;">Current CTC</th>
            <th scope="col" style="text-align:center;">Expected CTC</th>
            <th scope="col" style="text-align:center;">Enquiry Code</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row" style="text-align:center;">1</th>
            <td align="center">
                <a ng-click="showView='profile'">Mark</a>
            </td>
            <td align="center">
                <a ng-click="showView='profile'">2 years</a>
            </td>
            <td align="center">
                <a ng-click="showView='profile'">mark</a>
            </td>
            <td align="center">
                <a ng-click="showView='profile'">15 days</a>
            </td>
            <td align="center">
                <a ng-click="showView='profile'">2.5 lakh</a>
            </td>
            <td align="center">
                <a ng-click="showView='profile'">4.5 lakh</a>
            </td>
            <td align="center">
                <a ng-click="showView='profile'">2018-19-001</a>
            </td>
        </tr>
        <tr>
            <th scope="row" style="text-align:center;">2</th>
            <td align="center">
                <a ng-click="showView='profile'">Mark</a>
            </td>
            <td align="center">
                <a ng-click="showView='profile'">2 years</a>
            </td>
            <td align="center">
                <a ng-click="showView='profile'">mark</a>
            </td>
            <td align="center">
                <a ng-click="showView='profile'">15 days</a>
            </td>
            <td align="center">
                <a ng-click="showView='profile'">2.5 lakh</a>
            </td>
            <td align="center">
                <a ng-click="showView='profile'">4.5 lakh</a>
            </td>
            <td align="center">
                <a ng-click="showView='profile'">2018-19-001</a>
            </td>
        </tr>
        <tr>
            <th scope="row" style="text-align:center;">3</th>
            <td align="center">
                <a ng-click="showView='profile'">Mark</a>
            </td>
            <td align="center">
                <a ng-click="showView='profile'">2 years</a>
            </td>
            <td align="center">
                <a ng-click="showView='profile'">mark</a>
            </td>
            <td align="center">
                <a ng-click="showView='profile'">15 days</a>
            </td>
            <td align="center">
                <a ng-click="showView='profile'">2.5 lakh</a>
            </td>
            <td align="center">
                <a ng-click="showView='profile'">4.5 lakh</a>
            </td>
            <td align="center">
                <a ng-click="showView='profile'">2018-19-001</a>
            </td>
        </tr>
        <tr>
            <th scope="row" style="text-align:center;">4</th>
            <td align="center">
                <a ng-click="showView='profile'">Mark</a>
            </td>
            <td align="center">
                <a ng-click="showView='profile'">2 years</a>
            </td>
            <td align="center">
                <a ng-click="showView='profile'">mark</a>
            </td>
            <td align="center">
                <a ng-click="showView='profile'">15 days</a>
            </td>
            <td align="center">
                <a ng-click="showView='profile'">2.5 lakh</a>
            </td>
            <td align="center">
                <a ng-click="showView='profile'">4.5 lakh</a>
            </td>
            <td align="center">
                <a ng-click="showView='profile'">2018-19-001</a>
            </td>
        </tr>
        <tr>
            <th scope="row" style="text-align:center;">5</th>
            <td align="center">
                <a ng-click="showView='profile'">Mark</a>
            </td>
            <td align="center">
                <a ng-click="showView='profile'">2 years</a>
            </td>
            <td align="center">
                <a ng-click="showView='profile'">mark</a>
            </td>
            <td align="center">
                <a ng-click="showView='profile'">15 days</a>
            </td>
            <td align="center">
                <a ng-click="showView='profile'">2.5 lakh</a>
            </td>
            <td align="center">
                <a ng-click="showView='profile'">4.5 lakh</a>
            </td>
            <td align="center">
                <a ng-click="showView='profile'">2018-19-001</a>
            </td>
        </tr>
    </tbody>
</table>
<div class="detailsview" ng-if="showView=='profile'">
    <div class="Profile-Information">
        <div class="row no-gutters">
        <div class="col-5">
                <h4 class="pb-2 d-inline-block mr-5">Profile Information</h4>
            </div>
            <div class="col-7">
        <a type="button" class="btn-primary text-black mr-2" ng-click="openRetag();">Retag</a>                
    </div>            
        </div>
        <form class="ng-pristine ng-valid">
            <div class="form-group row">
                <label for="name" class="col-sm-5 col-form-label">Name Of Developer :</label>
                <div class="col-sm-7 border d-flex align-items-center">
                    <span>Snehal</span>
                </div>
            </div>
            <div class="form-group row">
                <label for="year" class="col-sm-5 col-form-label">Years Of Experience :</label>
                <div class="col-sm-7 d-flex align-item-center">
                    1
                    <span class="px-2">year</span>
                </div>
            </div>
            <div class="form-group row">
                <label for="ryear" class="col-sm-5 col-form-label">Years Of Relevant Experience :</label>
                <div class="col-sm-7 d-flex align-item-center">
                    2
                    <span class="px-2">year</span>
                </div>
            </div>
            <div class="form-group row">
                <label for="cctc" class="col-sm-5 col-form-label">Current CTC :</label>
                <div class="col-sm-7 d-flex">
                    <div class="d-flex">
                        1
                        <span class="px-2">lakhs</span>
                    </div>
                    <div class="d-flex">
                        30
                        <span class="px-2">Thousands</span>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label for="ectc" class="col-sm-5 col-form-label">Expected CTC :</label>
                <div class="col-sm-7 d-flex">
                    <div class="d-flex">
                        5
                        <span class="px-2">lakhs</span>
                    </div>
                    <div class="d-flex">
                        20
                        <span class="px-2">Thousands</span>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label for="company" class="col-sm-5 col-form-label">Company Name :</label>
                <div class="col-sm-7 border d-flex align-items-center">
                    <span>Wohlig Technology</span>
                </div>
            </div>
            <div class="form-group row">
                <label for="joining" class="col-sm-5 col-form-label">Joining Period :</label>
                <div class="col-sm-7">
                    15 days and less
                </div>
            </div>
            <div class="form-group row">
                <label for="source" class="col-sm-5 col-form-label">Source Of Developer :</label>
                <div class="col-sm-7 border d-flex align-items-center">
                    <span>Naukri</span>
                </div>
            </div>
            <div class="form-group row">
                <label for="CV" class="col-sm-5 col-form-label">Uploaded CV :</label>
                <div class="col-sm-7 border d-flex align-items-center">
                    <span>
                            <a href="img/About Us.docx" class="text-secondary">sample1.doc</a>
                            <a href="https://www.google.com/" class="text-secondary">sample2.doc</a>
                        </span>
                </div>
            </div>

        </form>
    </div>
    <div class="selection-status" ng-if="showView=='rejectedStatus'">
        <form>
            <div class="form-group row">
                <label for="example-date-input" class="col-sm-5 col-form-label">Status : </label>
                <div class="col-sm-7">
                    Rejected
                </div>
            </div>
            <div class="form-group row">
                <label for="example-date-input" class="col-sm-5 col-form-label">Interview Feedback : </label>
                <div class="col-sm-7">
                    <span>Lorem Ipsum is simply dummy text of the printingLorem Ipsum is simply dummy text of the printing</span>
                </div>
            </div>
        </form>
    </div>
    <div class="selection-status" ng-if="showView=='selectionStatus'">
        <form>
            <div class="form-group row">
                <label for="example-date-input" class="col-sm-5 col-form-label">Status : </label>
                <div class="col-sm-7 ">
                    Selected
                </div>
            </div>
            <div class="form-group row">
                <label for="example-date-input" class="col-sm-5 col-form-label">Date of Joining : </label>
                <div class="col-sm-7 ">
                    12/06/2018
                </div>
            </div>
            <div class="form-group row">
                <label for="ectc" class="col-sm-5 col-form-label">Final CTC :</label>
                <div class="col-sm-7 d-flex">
                    <div class="d-flex">
                        1
                        <span class="px-2">lakhs</span>
                    </div>
                    <div class="d-flex">
                        20
                        <span class="px-2">Thousands</span>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label for="example-date-input" class="col-sm-5 col-form-label">Interview Feedback : </label>
                <div class="col-sm-7 ">
                    <span>Lorem Ipsum is simply dummy text of the printingLorem Ipsum is simply dummy text of the printing</span>
                </div>
            </div>
        </form>
    </div>
    <div class="Interview-result pt-3">
        <h4 class="pb-2 d-inline">Interview Result</h4><h6 class="float-right d-inline">Enquiry Code : 2018-19-001</h6>
        <table class="table table-striped ">
            <thead>
                <tr>
                    <th style="text-align:center;">Round Of Interview</th>
                    <th style="text-align:center;">Mode Of Interview</th>
                    <th style="text-align:center;">Name Of Interviewer</th>
                    <th style="text-align:center;">Status</th>
                    <th style="text-align:center;">Feedback</th>
                    <th style="text-align:center;">Screenshots</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td align="center">1 </td>
                    <td align="center">Online Interview</td>
                    <td align="center">Karan</td>
                    <td align="center">Shortlisted</td>
                    <td align="center">Lorem Ipsum is simply dummy text of the printing</td>
                    <td align="center">
                        <a href="" ng-click="openScreen()">View Screenshots</a>
                    </td>
                </tr>
                <tr>
                    <td align="center">2</td>
                    <td align="center">Telephonic Interview </td>
                    <td align="center">Khushaboo</td>
                    <td align="center">Shortlisted</td>
                    <td align="center">Lorem Ipsum is simply dummy text of the printing</td>
                    <td align="center">
                        <a href="" ng-click="openScreen()">View Screenshots</a>
                    </td>
                </tr>
                <tr>
                    <td align="center">3 </td>
                    <td align="center">Skype Interview</td>
                    <td align="center">Marks</td>
                    <td align="center">Rejected</td>
                    <td align="center">Lorem Ipsum is simply dummy text of the printing</td>
                    <td align="center">
                        <a href="" ng-click="openScreen()">View Screenshots</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>