<h5 class="text-center font-Lato-Bold">Sources Detail Page<button type="button" class="btn btn-primary my-2 float-right" ng-click="openSourcesModal()">Create Sources</button></h5>
<table class="table table-striped">
    <thead>
        <tr>
            <th style="text-align:center;">Sr.No</th>
            <th style="text-align:center;">Company Name</th>
            <th style="text-align:center;">Contact Person</th>
            <th style="text-align:center;">Person's Name</th>
            <th style="text-align:center;">Person's Contact Number</th>
            <th style="text-align:center;">Person's Email ID</th>
            <th style="text-align:center;">Person's Skills</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td align="center">1</td>
            <td align="center">XYZ</td>
            <td align="center">Steve XYZ</td>
            <td align="center">Steve</td>
            <td align="center">8083456723</td>
            <td align="center">steve@hotmail.com</td>
            <td align="center">AngularJs</td>
        </tr>
        <tr>
            <td align="center">2</td>
            <td align="center">XYZ</td>
            <td align="center">Steve XYZ</td>
            <td align="center">Steve</td>
            <td align="center">8083456723</td>
            <td align="center">steve@hotmail.com</td>
            <td align="center">AngularJs</td>
        </tr>
        <tr>
            <td align="center">3</td>
            <td align="center">XYZ</td>
            <td align="center">Steve XYZ</td>
            <td align="center">Steve</td>
            <td align="center">8083456723</td>
            <td align="center">steve@hotmail.com</td>
            <td align="center">AngularJs</td>
        </tr>
    </tbody>
</table>