<h5 class="text-center">Sources Detail Page<button type="button" class="btn btn-primary float-right" ng-click="openSourcesModal()">Create Sources</button></h5>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Sr.No</th>
            <th>Company Name</th>
            <th>Contact Person</th>
            <th>Person's Name</th>
            <th>Person's Contact Number</th>
            <th>Person's Email ID</th>
            <th>Person's Skills</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>XYZ</td>
            <td>Steve XYZ</td>
            <td>Steve</td>
            <td>8083456723</td>
            <td>steve@hotmail.com</td>
            <td>AngularJs</td>
        </tr>
        <tr>
            <td>2</td>
            <td>XYZ</td>
            <td>Steve XYZ</td>
            <td>Steve</td>
            <td>8083456723</td>
            <td>steve@hotmail.com</td>
            <td>AngularJs</td>
        </tr>
        <tr>
            <td>3</td>
            <td>XYZ</td>
            <td>Steve XYZ</td>
            <td>Steve</td>
            <td>8083456723</td>
            <td>steve@hotmail.com</td>
            <td>AngularJs</td>
        </tr>
    </tbody>
</table>