<div class="modal-header">
    <h4 class="modal-title">CheckList</h4>
</div>
<div class="modal-body">
    <div class="p-2">
        <div class="w-75 py-2 addtask-btn d-inline-block">
            <a class="" role="button">
                <i class="fas fa-plus pl-2"></i>
                <span class="pl-2">Add a task</span>
            </a>

        </div>
        <a class="px-2">
            <i class="fas fa-ellipsis-v"></i>
        </a>
    </div>
    <div class="p-2 pending-task">
        <i class="far fa-circle"></i>
        <i class="fas fa-check"></i>
        <input type="text" class="w-75 border-0" required>
        <i class="fas fa-pen "></i>
    </div>

</div>