<div class="p-4">
    <div class="form-group row">
        <label for="example-text-input" class="col-4 col-form-label">Name : </label>
        <div class="col-8">
            <input class="form-control" type="text" placeholder="Enter your Name">
        </div>
    </div>
    <div class="form-group row">
        <label for="example-date-input" class="col-4 col-form-label">Target Date : </label>
        <div class="col-8">
            <input class="form-control" type="date" id="example-date-input">
        </div>
    </div>
    <div class="form-group row">
        <label for="example-text-input" class="col-4 col-form-label">Years of Experience : </label>
        <div class="col-8">
            <select>
            <option value="to1" disabled selected>Choose Here</option>
            <option value="to1">0-1</option>
            <option value="to2">1-2</option>
            <option value="to3">2-3</option>
            <option value="to4">3-4</option>
            <option value="to4">Above 10</option>
            </select> years
        </div>
    </div>
    <div class="form-group row">
        <label for="employees" class="col-4 col-form-label">No. of Employees Required : </label>
        <div class="col-2">
            <input class="form-control" type="input" id="example-search-input">
        </div>
    </div>
    <div class="form-group row">
        <label for="skills" class="col-4 col-form-label">Technical Must have Skills : </label>
        <div class="col-8">
            <ui-select multiple tagging tagging-label="(custom 'new' label)" ng-model="ctrl.multipleDemo.colors" theme="bootstrap" sortable="true" ng-disabled="ctrl.disabled" title="Choose a skill">
                <ui-select-match placeholder="Select Skills">{{$item}}</ui-select-match>
                <ui-select-choices repeat="color in availableSkills | filter:$select.search">
                    {{color}}
                </ui-select-choices>
            </ui-select>
            <!-- <input class="form-control" type="input" id="skills"> -->
        </div>
    </div>
    <div class="form-group row">
        <label for="skills" class="col-4 col-form-label">Technical good to have Skills : </label>
        <div class="col-8">
            <ui-select multiple tagging tagging-label="(custom 'new' label)" ng-model="ctrl.multipleDemo.colors" theme="bootstrap" sortable="true" ng-disabled="ctrl.disabled" title="Choose a skill">
                <ui-select-match placeholder="Select Skills">{{$item}}</ui-select-match>
                <ui-select-choices repeat="color in availableSkills1 | filter:$select.search">
                    {{color}}
                </ui-select-choices>
            </ui-select>
            <!-- <input class="form-control" type="input" id="skills"> -->
        </div>
    </div>
    <div class="form-group row">
        <label for="skills" class="col-4 col-form-label">Behavioural Skills : </label>
        <div class="col-8">
            <ui-select multiple tagging tagging-label="(custom 'new' label)" ng-model="ctrl.multipleDemo.colors" theme="bootstrap" sortable="true" ng-disabled="ctrl.disabled" title="Choose a skill">
                <ui-select-match placeholder="Select Skills">{{$item}}</ui-select-match>
                <ui-select-choices repeat="color in availableSkills2 | filter:$select.search">
                    {{color}}
                </ui-select-choices>
            </ui-select>
            <!-- <input class="form-control" type="input" id="skills"> -->
        </div>
    </div>
    <div class="form-group row">
        <label for="example-text-input" class="col-4 col-form-label">Salary Range : </label>
        <div class="col-8">
            <select>
            <option value="to1" disabled selected>Choose Here</option>
            <option value="to1"> < 1 lakh &#8377;</option>
            <option value="to2">1 lakh to 2 lakh &#8377;</option>
            <option value="to3">2 lakh to 3 lakh &#8377;</option>
            <option value="to4">3 lakh to 4 lakh &#8377;</option>
            <option value="to4">Above 4 lakh &#8377;</option>
            </select> per annum
        </div>
    </div>
    <div class="form-group row">
        <label for="example-date-input" class="col-4 col-form-label">Date of Enquiry : </label>
        <div class="col-8">
            <input class="form-control" type="date" id="example-date-input">
        </div>
    </div>
    <div class="form-group row">
        <label for="attachments" class="col-4 col-form-label">Attachments : </label>
        <div class="col-8">
            <input class="form-control" type="file" multiple>
        </div>
    </div>
    <div class="form-group row">
        <label for="comments" class="col-4 col-form-label">Comments : </label>
        <div class="col-8">
            <textarea class="form-control" type="comments"></textarea>
        </div>
    </div>
    <div class="form-group row">
        <label for="comments" class="col-4 col-form-label">Customer Panel : </label>
        <div class="col-8">
            <textarea class="form-control" type="comments"></textarea>
        </div>
    </div>
    <div class="text-center"><button type="button" class="btn btn-primary mr-2">Submit</button><button type="button" class="btn btn-primary" ng-click="$dismiss()">Cancel</button></div>
</div>