<div class="modal-header position-relative">
    <h4 class="modal-title">Enter Admin Detail</h4>
    <a class="close-modal position-absolute" ng-click="$dismiss();">
        <i class="fas fa-times"></i>
    </a>
</div>
<div class="p-4">
    <form>
        <div class="form-group row">
            <label for="adinname" class="col-4 col-form-label">Admin Name : </label>
            <div class="col-8">
                <input name="adinname" class="form-control height35" type="text" placeholder="Enter Admin Name" required>
            </div>
        </div>
        <div class="form-group row">
            <label for="adinemail" class="col-4 col-form-label">Admin Email : </label>
            <div class="col-8">
                <input name="adinemail" class="form-control height35" type="email" placeholder="Enter Admin Email" required>
            </div>
        </div>
        <div class="form-group row">
            <label for="adindes" class="col-4 col-form-label">Admin Designation : </label>
            <div class="col-8">
                <input name="adindes" class="form-control height35" type="text" placeholder="Enter Admin Designation" required>
            </div>
        </div>
        <!-- <div class="form-group row">
            <label for="adinid" class="col-4 col-form-label">Admin Id : </label>
            <div class="col-8">
                <input name="adinid" class="form-control height35" type="text" placeholder="Enter Admin ID" required>
            </div>
        </div> -->
        <div class="form-group row">
            <label for="adinpass" class="col-4 col-form-label">Admin Password : </label>
            <div class="col-8">
                <input name="adinpass" class="form-control height35" type="password" placeholder="Enter Admin Password" required>
            </div>
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-primary mr-2">Submit</button>
            <button type="button" class="btn btn-primary" ng-click="$dismiss()">Cancel</button>
        </div>
    </form>
</div>