<div class="modal-header position-relative">
    <h4 class="modal-title">Create Candidate</h4>
    <a class="close-modal position-absolute" ng-click="$dismiss();">
        <i class="fas fa-times"></i>
    </a>
</div>
<div class="p-4">
    <form>
        <div class="form-group row">
            <label for="adinname" class="col-4 col-form-label">Candidate Name : </label>
            <div class="col-8">
                <input name="adinname" class="form-control height35" type="text" placeholder="Enter Candidate Name" required>
            </div>
        </div>
        <div class="form-group row">
            <label for="adinemail" class="col-4 col-form-label"> Role : </label>
            <div class="col-8">
                <input name="adinemail" class="form-control height35" type="text" placeholder="Enter Role" required>
            </div>
        </div>
        <div class="form-group row">
            <label for="adindes" class="col-4 col-form-label"> Reporting to : </label>
            <div class="col-8">
                <input name="adindes" class="form-control height35" type="text" placeholder="" required>
            </div>
        </div>

        <div class="form-group row">
            <label for="adinpass" class="col-4 col-form-label"> Project : </label>
            <div class="col-8">
                <input name="adinpass" class="form-control height35" type="text" placeholder="Enter Project Name" required>
            </div>
        </div>
        <div class="form-group row">
            <label for="adindes" class="col-4 col-form-label"> HR Owner : </label>
            <div class="col-8">
                <input name="adindes" class="form-control height35" type="text" placeholder="Enter HR Owner Name" required>
            </div>
        </div>
        <div class="form-group row">
            <label for="adindes" class="col-4 col-form-label"> Last Updated : </label>
            <div class="col-8">
                <input name="adindes" class="form-control height35" type="date" placeholder="" required>
            </div>
        </div>
        <div class="form-group row">
            <label for="adindes" class="col-4 col-form-label"> Status : </label>
            <div class="col-8">
                <div class="form-control">
                    <toggle-switch on-label="Open" off-label="Close" ng-model="item.toggle1" class=" switch-mini switch-success "></toggle-switch>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label for="adindes" class="col-4 col-form-label"> Offer Letter Date : </label>
            <div class="col-8">
                <input name="adindes" class="form-control height35" type="date" placeholder="" required>
            </div>
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-primary mr-2">Submit</button>
            <button type="button" class="btn btn-primary" ng-click="$dismiss()">Cancel</button>
        </div>
    </form>
</div>