<div class="modal-header position-relative">
    <h4 class="modal-title">Customers Detail</h4>
    <a class="close-modal position-absolute" ng-click="$dismiss();">
            <i class="fas fa-times"></i>
        </a>
</div>
<div class="p-4">
    <div class="form-group row">
        <label for="pername" class="col-4 col-form-label">Customer Name : </label>
        <div class="col-8">
            <input name="pername" class="form-control height35" type="text" placeholder="Enter Your Name">
        </div>
    </div>
    <div class="text-center"><button type="button" class="btn btn-primary mr-2">Submit</button><button type="button" class="btn btn-primary" ng-click="$dismiss()">Cancel</button></div>
</div>