<div class="modal-header position-relative ">
    <h4 class="modal-title">Interview Schedule</h4>
    <a class="close-modal position-absolute" ng-click="$dismiss();">
        <i class="fas fa-times"></i>
    </a>
</div>
<div class="p-4 interview-schedule-modal">
    <form>
        <div class="form-group row">
            <label for="example-date-input" class="col-4 col-form-label">Date : </label>
            <div class="col-8">
                <input class="form-control height35" type="date">
            </div>
        </div>
        <div class="form-group row">
            <label for="example-date-input" class="col-4 col-form-label">Person Name : </label>
            <div class="col-8">
                <div class="form-control">
                    <input class="form-control height35" type="text">
                </div>

            </div>
        </div>
        <div class="form-group row">
            <label for="example-date-input" class="col-4 col-form-label">Select Mode : </label>
            <div class="col-8">
                <select class="form-control">
                    <option value="to1" disabled selected>Select Mode</option>
                    <option value="to1">Online Test</option>
                    <option value="to1">Skype Interview</option>
                    <option value="to2">Telephonic</option>
                    <option value="to3">Face to Face</option>
                    <option value="to4">Client Introduction</option>
                </select>
            </div>
        </div>

        <div class="form-group row">
            <label for="example-date-input" class="col-4 col-form-label">Time : </label>
            <div class="col-8">
                <input class="form-control height35" type="time">
            </div>
        </div>
        <div <div class="form-group row">
            <label for="example-date-input" class="col-4 col-form-label">Round : </label>
            <div class="col-8">
                <select class="form-control">
                    <option value="to1">Round 1</option>
                    <option value="to1">Round 2</option>
                    <option value="to1">Round 3</option>
                    <option value="to2">Round 4</option>
                    <option value="to3">Round 5</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label for="example-date-input" class="col-4 col-form-label"> Name Of Interviewer : </label>
            <div class="col-8">
                <input class="form-control height35" type="text">
            </div>
        </div>
        <div class="form-group">
            <label for="feedback">Feedback:</label>
            <textarea class="form-control" rows="3" id="feedback"></textarea>
        </div>
        <div class="text-center">
            <button type="button" class="btn btn-primary" ng-click="$dismiss()">Save</button>
        </div>

</div>
</form>
</div>