<div class="model">
    <a class="close-modal position-absolute" ng-click="$dismiss();">
        <i class="fas fa-times"></i>
    </a>
<div class="model_content">
<div class="p-4">
  <div  class="text-center text-dark">
      Are you sure you want add this record
  </div>
  <div class="text-center mt-3">
    <button type="button" class="btn btn-defult btn-sm bg-success rounded text-light" ng-click="$dismiss() ">Ok</button>
    <button type="button" class="btn btn-default btn-sm bg-danger rounded text-light" ng-click="$dismiss() ">Cancel</button>
  </div>
</div>
</div>
</div>
