<div class="modal-header position-relative">
    <h4 class="modal-title">More Information</h4>
    <a class="close-modal position-absolute" ng-click="$dismiss();">
        <i class="fas fa-times"></i>
    </a>
</div>
<div class="px-4 pb-4">
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th style="text-align:center" scope="col">Customer Name </th>
                    <th style="text-align:center" scope="col">Target Date </th>
                    <th style="text-align:center" scope="col">Years of Experience</th>
                    <th style="text-align:center" scope="col">No. of Employees Required</th>
                    <th style="text-align:center" scope="col">Technical Must have Skills</th>
                    <th style="text-align:center" scope="col">Technical good to have Skills </th>
                    <th style="text-align:center" scope="col">Behavioural Skills </th>
                    <th style="text-align:center" scope="col">Annual Salary</th>
                    <th style="text-align:center" scope="col">Date of Enquiry </th>
                    <th style="text-align:center" scope="col">Attachments</th>
                    <th style="text-align:center" scope="col">Comments</th>
                    <th style="text-align:center" scope="col">Customer Panel </th>

                </tr>
            </thead>
            <tbody>
                <tr>

                    <td align="center">Mark</td>
                    <td align="center">12-07-2018</td>
                    <td align="center">5</td>
                    <td align="center">10</td>
                    <td align="center">Java</td>
                    <td align="center">Angular Js</td>
                    <td align="center">Good Communication</td>
                    <td align="center">5 lakhs</td>
                    <td align="center">12-07-2018</td>
                    <td align="center">Resume</td>
                    <td align="center">Lorem Ipsum</td>
                    <td align="center">Minal, Nitin</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>