<div class="p-3">
    <div class="border-black p-1">
        <form>
                <div class="form-group row">
                        <label for="date" class="col-3 col-form-label">Date: </label>
                        <div class="col-9">
                            <input class="form-control height35" type="date" id="date">
                        </div>
                    </div>
            <div class="form-group row">
                <label for="name" class="col-3 col-form-label">Name: </label>
                <div class="col-9">
                    <input class="form-control height35" type="text" id="name">
                </div>
            </div>
            <div class="form-group row align-items-center">
                <label for="name" class="col-3 col-form-label">Mode: </label>
                <div class="col-9">
                    <select>
                                    <option value="to1" disabled selected>Select Mode</option>
                                    <option value="to1">Online</option>
                                    <option value="to2">Telephonic</option>
                                    <option value="to3">Face to Face</option>
                                    <option value="to4">Client Introduction</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="time" class="col-3 col-form-label">Time: </label>
                <div class="col-9">
                    <input class="form-control height35" type="time" id="time">
                </div>
            </div>
            <div class="form-group row">
                <label for="comments" class="col-3 col-form-label">Comments: </label>
                <div class="col-9">
                    <textarea class="form-control" type="comments" id="comments"></textarea>
                </div>
            </div>
            <div class="text-center">
                <button type="button" class="btn btn-primary mr-2">Save</button>
                <button type="button" class="btn btn-primary" ng-click="$dismiss()">Cancel</button>
            </div>
        </form>
    </div>
</div>