<div class="modal-header position-relative">
    <h4 class="modal-title">Selected Profile</h4>
    <a class="close-modal position-absolute" ng-click="$dismiss();">
        <i class="fas fa-times"></i>
    </a>
</div>
<div class="px-4 pb-4">
    <table class="table table-striped">
        <thead>
            <tr>
                <th style="text-align:center" scope="col">Sr. No</th>
                <th style="text-align:center" scope="col">Name</th>
                <th style="text-align:center" scope="col">Date Of Joining</th>
                <th style="text-align:center" scope="col">Final CTC</th>
                <th style="text-align:center" scope="col">Comments</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th style="text-align:center" scope="row">1</th>
                <td align="center">
                    <a ng-click="tabChange('detailsview');$dismiss();">Mark</a>
                </td>
                <td align="center">12-07-2018</td>
                <td align="center">INR 1,50,000</td>
                <td align="center">Lorem Ipsum is simply dummy text of the printing.</td>
            </tr>
            <tr>
                <th style="text-align:center" scope="row">2</th>
                <td align="center">
                    <a ng-click="tabChange('detailsview');$dismiss();">Mark</a>
                </td>
                <td align="center">12-07-2018</td>
                <td align="center">INR 2,50,000</td>
                <td align="center">Lorem Ipsum is simply dummy text of the printing.</td>
            </tr>
            <tr>
                <th style="text-align:center" scope="row">3</th>
                <td align="center">
                    <a ng-click="tabChange('detailsview');$dismiss();">Mark</a>
                </td>
                <td align="center">12-07-2018 </td>
                <td align="center">INR 5,50,000</td>
                <td align="center">Lorem Ipsum is simply dummy text of the printing.</td>
            </tr>
            <tr>
                <th style="text-align:center" scope="row">4</th>
                <td align="center">
                    <a ng-click="tabChange('detailsview');$dismiss();">Mark</a>
                </td>
                <td align="center">12-07-2018</td>
                <td align="center">INR 2,50,000</td>
                <td align="center">Lorem Ipsum is simply dummy text of the printing.</td>
            </tr>
            <tr>
                <th style="text-align:center" scope="row">5</th>
                <td align="center">
                    <a ng-click="tabChange('detailsview');$dismiss();">Mark</a>
                </td>
                <td align="center">12-07-2018</td>
                <td align="center">INR 3,50,000</td>
                <td align="center">Lorem Ipsum is simply dummy text of the printing.</td>
            </tr>
        </tbody>
    </table>

</div>