<div class="modal-header position-relative">
    <h4 class="modal-title">Selected Profile</h4>
    <a class="close-modal position-absolute" ng-click="$dismiss();">
        <i class="fas fa-times"></i>
    </a>
</div>
<div class="px-4 pb-4">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Sr.No</th>
                <th scope="col">Name</th>
                <th scope="col">Date Of Joining</th>
                <th scope="col">Final CTC</th>
                <th scope="col">Comments</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>12-07-2018</td>
                <td>5 lac 10 thousand</td>
                <td>Mark</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Mark</td>
                <td>12-07-2018</td>
                <td>5 lakh 10 </td>
                <td>Mark</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Mark</td>
                <td>12-07-2018 </td>
                <td>5 lac 1 thousand</td>
                <td>Mark</td>
            </tr>
            <tr>
                <th scope="row">4</th>
                <td> Mark</td>
                <td>12-07-2018</td>
                <td>5 lac</td>
                <td>Mark</td>
            </tr>
            <tr>
                <th scope="row">5</th>
                <td> Mark</td>
                <td>12-07-2018</td>
                <td>5 lac</td>
                <td>Mark</td>
            </tr>
        </tbody>
    </table>

</div>