  .bor-top {
    border-top: 1px solid #bebfbf;
  }

  .mar-tr {
    margin-top: 65px !important;
    margin-left: 100px;
  }

  .bg-blue {
    background: linear-gradient(to right, #0e3a81, #38609e);
    padding: 22px 29px 90px 90px;
  }

  .last-updated {
    color: $border-color;
    font-size: 11px;
    line-height: 10px;
    float: right;
    span {
      font-weight: 600;
    }
  }

  .empoyee-details {
    margin-top: 25px;
    h6 {
      color: $border-color;
      font-weight: 600;
      margin-bottom: 19px; // font-family: Lora-Bold;
      span {
        font-size: 13px;
      }
    }
    p {
      color: $border-color;
      font-size: 13px; // font-family: Lora;
      line-height: 10px;
      font-weight: 600;
      letter-spacing: 0.9px;
    }
    span {
      font-weight: 400;
    }
  }

  .checklist-details {
    width: 90%;
    padding: 20px 30px;
    left: 5%;
    top: 80%;
    background-color: $white;
    border-radius: 15px;
    box-shadow: 0px 1px 30px 0px $gray-light;
    h5 {
      font-weight: 600;
    }
    h5:before {
      content: "";
      position: absolute;
      border: 1px solid $gray-lighter;
      width: 44%;
      top: 32px;
      left: 0px;
    }
    h5:after {
      content: "";
      position: absolute;
      border: 1px solid $gray-lighter;
      width: 44%;
      top: 32px;
      right: 0px;
    }
  }

  .bor-right:after {
    content: "";
    position: absolute;
    border: 1px solid $white;
    height: 70%;
    top: 51px;
    right: -60px;
  }

  .section-heading {
    color: $black;
    font-size: 17px;
    font-weight: 600;
  }

  .sub-heading {
    margin-left: 32px;
    font-size: 14px;
    color: $gray-dark;
    font-weight: 600;
  }

  .resp-1 {
    padding-left: 19px;
    font-size: 11px;
    color: $black;
    font-weight: 600;
  }

  .resp-select {
    select {
      width: 150px;
      height: 23px !important;
      padding: 2px;
      font-size: 11px;
      color: $gray-light;
      font-weight: 600;
    }
  }

  .custom-date {
    font-size: 11px;
    color: $gray-light;
  }

  .comment-area {
    font-size: 12px;
    background: #bebfbf;
    color: $black;
  }

  .bg-gray {
    padding: 2px;
    background: $gray-lighter;
  }


.joining-chklist{
  .form-group input {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
  }
  .form-group label {
    position: relative;
    cursor: pointer;
  }

  .form-group label:before {
    content: '';
    -webkit-appearance: none;
    background-color: transparent;
    border: 2px solid #0e3a81;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
    padding: 5px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 5px;
  }

  .form-group input:checked+label:after {
    content: '';
    display: block;
    position: absolute;
    top: 6px;
    left: 6px;
    width: 5px;
    height: 12px;
    border: solid #0e3a81;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }

}
 